@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Thin.otf);
  font-weight: 100;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Light.otf);
  font-weight: 300;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Semibold.otf);
  font-weight: 600;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Extrabold.otf);
  font-weight: 800;
}

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova/ProximaNova_Black.otf);
  font-weight: 900;
}
